<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center" style="margin-top: 20px;"> <!-- Add margin-top -->
      <h2 id="bookings-title" style="color: white;">Bookings & Event</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @bookings.each do |booking| %>
      <div class="col-md-10 mt-4"> <!-- Each booking will take the full width on medium screens and larger -->
        <div class="card mt-8">
          <div class="row">
            <div class="col-md-6">
              <%= link_to event_path(booking.event), class: "text-decoration-none" do %>
                <div class="image-container"> <!-- Adjust the margin values as needed -->
                  <%= cl_image_tag booking.event.photos.first.key, width: "100%", height: "300px;", class: "card-img-top" %>
                
                </div>
              <% end %>
            </div>
            <div class="col-md-5">
              <div class="white-box mybookingsbox"  style="margin-top: 80px; justify-content: space-between; margin-left: 80px;">
                <p class="custom-card-title" style="font-weight: bold;">Event: <%= booking.event.name %></p>
                <p class="custom-card-text">Price: £<%= booking.event.price %></p>
                <p class="custom-card-text">Start Date: <%= booking.event.start_date.strftime("%d/%m/%y - %T") %> PM</p>
                <p class="custom-card-text">End Date: <%= booking.event.end_date.strftime("%d/%m/%y - %T") %> PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= link_to "Back", events_path, class: "button-blue" %>
  </div>
</div>
<br>
