<div class="booking-form-container"> <!-- Add a container div -->
  <div class="split-container">
    <div class="left-pane-booking">
      <h1>Book <%= @event.name %> </h1>
      <h2><%= @event.start_date %></h2>
      <div>
      <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% end %>
      </div>
      <div style="margin-top: 20px">
        <%= simple_form_for [@event, @booking] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id  %>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.submit "Submit Booking", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>


    <div class="right-pane-booking">
    <h1>Billing info</h1>
      <div class="elem-group inlined">
        <label for="tickets">Tickets </label>
        <input type="number" id="ticket" name="total_tickets" placeholder="1" min="1" active >
      </div>
  <div class="elem-group inlined">
    <label for="price"> Price </label>
    <input  type="number" id="price" name="total_price" placeholder="<%=@event.price %>" min="0" active >
  </div>
    </div>
  </div>
</div>
