 <div class="bookings-show-container">
        <h1 class="booking-title">Booking Details</h1>
            <div class="card-bookings">
                <p class="check"><i class="fa-regular fa-square-check booking-icons"></i></p>
                <p class="card-text">Thank you for your order! </p>
                  <p class="card-text">You're going to: </p>
                <p class="card-text ename"><strong><%= @booking.event.name %></strong></p>
                <p class="card-text"> <i class="fa-solid fa-calendar-days booking-icons"></i> Starts <%= @booking.event.start_date.strftime("%d/%m/%y - %T") %></p>
                <p class="card-text"> <i class="fa-solid fa-calendar-days booking-icons"></i> Ends <%= @booking.event.end_date.strftime("%d/%m/%y - %T") %></p>
                <p class="card-text">All details sent to: <%= current_user.email %></p>

                <%= link_to 'See all my bookings', bookings_path, class: "btn btn-primary btn-sm booking-button" %>
                <%= link_to "Join Chat Group", event_chatroom_path(@booking.event, @booking.event.chatroom), class: "btn btn-primary btn-sm booking-button" %>
        </div>
    </div>
