<div class="events-count">
  <% if @event_count > 0 %>
    <h1><strong><%= pluralize(@event_count, "Event") %></strong> found for you </h1>
  <% else %>
    <h1>No events found.</h1>
<% end %>


</div>


<div class="container position-relative">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @events.each_slice(3).with_index do |event_group, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <div class="row">
            <% event_group.each do |event| %>
              <div class="col-md-4">
                <%= link_to event_path(event), class: "text-decoration-none" do %>
                  <div class="card slider-card">
                    <% if event.photos.attached? %>
                      <%= cl_image_tag event.photos.first.key, class: "event-img img-fluid rounded-top card-img" %>
                    <% end %>



                    <div class="card-img-overlay d-flex flex-column justify-content-end">

                      <h4 class="text-white"><%= event.name %></h4>
                    <h6 class="card-subtitle mb-2 text-white"><%= event.start_date.strftime("%d/%m/%y - %T") %> PM</h6>

                      <div class="price">
                        <span>£<%= event.price %></span>
                    </div>
                      <div class="link d-flex">
                        <%= link_to "View Event", event_path(event), class: "card-link card-text" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev position-absolute top-50 left-0" style="transform: translate(-70%, -50%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next position-absolute top-50 right-0" style="transform: translate(70%, -50%);" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container mb-4">
  <div class="row justify-content-center">
          <div data-controller="map"
               id="map"
               data-map-markers-value="<%= @markers.to_json %>"
               data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
               style="width: 100%px; height: 261px; border-radius: 5px; overflow: hidden; margin-top: px; margin-left: 13px">
          </div>
        </div>
</div>
