<h1>Hi I am event index page</h1>



<span id="btn-new"><%= link_to "List an Event", new_event_path, class: "btn btn-success" %></span>


<div class="container py-5">
  <div class="row">
    <% @events.each do |event|%>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <div class="bg-white rounded shadow h-100">
        <% if event.photo_url %>
          <%= image_tag event.photo_url, alt: 'Event', class: "event-img rounded-top" %>
        <% end %>
            <div class="p-3 rounded-bottom d-flex flex-column">
            <%= link_to event_path(event), class:"text-decoration-none" do %>
              <strong><%= event.name %></strong>
              <small class="text-muted">£<%= event.price %></small>
            </div>
            <% end %>
        </div>
      </div>
    <% end  %>
  </div>
</div>

<span><%= link_to "Home Page", root_path, class: "btn btn-success" %></span>
