


<div>
  <h1 class="indx">Events found for you!</h1>
</div>


<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @events.each_slice(3).with_index do |event_group, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <div class="row">
            <% event_group.each do |event| %>
              <div class="col-md-4">
                <div class="card">
                  <%= link_to event_path(event), class: "text-decoration-none" do %>
                    <% if event.photos.attached? %>
                      <%= cl_image_tag event.photos.first.key, class: "event-img img-fluid rounded-top" %>
                    <% end %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title t-color"><%= event.name %></h5>
                    <small class="text-muted t-color">£<%= event.price %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>




<div class="div2">
<h3>map goes here</h3>
</div>



