


<div>
  <h1 class="indx">Events found for you</h1>
</div>


<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @events.each_slice(3).with_index do |event_group, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <div class="row">
            <% event_group.each do |event| %>
              <div class="col-md-4">
                <div class="card slider-card">
            <% if event.photos.attached? %>
                      <%= cl_image_tag event.photos.first.key, class: "event-img img-fluid rounded-top card-img" %>
                    <% end %>
        <div class="card-img-overlay text-white d-flex flex-column justify-content-end">
          <h4 class="card-title"><%= event.name %></h4>
          <h6 class="card-subtitle mb-2"><%= event.start_date.strftime("%d/%m/%y - %T") %></h6>

          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
          </div>
        </div>
      </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container mb-4">
  <div class="row justify-content-center">
          <div data-controller="map"
               id="map"
               data-map-markers-value="<%= @markers.to_json %>"
               data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
               style="width: 800px; height: 200px; border-radius: 20px; overflow: hidden; margin-top: 20px;">
          </div>
        </div>
</div>
