<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center" style="margin-top: 20px;">
      <h2 id="bookings-title" style="color: white;">My Events</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @events.each do |event| %>
      <div class="col-md-10 mt-4">
        <div class="card mt-8">
          <div class="row">
            <div class="col-md-6">
              <%= link_to event_path(event), class: "text-decoration-none" do %>
                <div class="image-container">
                  <%= cl_image_tag event.photos.first.key, width: "100%", height: "300px;", class: "card-img-top" %>
                </div>
              <% end %>
            </div>
            <div class="col-md-5">
              <div class="white-box mybookingsbox" style="margin-top: 80px; justify-content: space-between; margin-left: 80px;">
                <p class="custom-card-title" style="font-weight: bold;">Event: <%= event.name %></p>
                <p class="custom-card-text">Price: £<%= event.price %></p>
                <p class="custom-card-text">Start Date: <%= event.start_date.strftime("%d/%m/%y - %T") %> PM</p>
                <p class="custom-card-text">End Date: <%= event.end_date.strftime("%d/%m/%y - %T") %> PM</p>
                <div>
                  <%= link_to "Edit", edit_event_path(event), class: "button-green" %>
                  <%= link_to "Delete", event_path(event), class: "button-green",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-4">
    <%= link_to "Back", events_path, class: "button-blue" %>
  </div>
</div>
<br>
