</div>
<div class="split-container">
  <div class="left-pane justify-content-center">
    <div class="name" style="text-align: left; margin-left: -100px;">
  <h1 style="color: white;"><%= @event.name %></h1>
</div>
    <% if @event.photos.attached? %>
  <% @event.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill, style: "float: left; margin-left: -100px;" %>
  <% end %>
<% end %>

<div style="clear: both; margin-bottom: 20px;"></div> <!-- Add space between the photos and Event Details -->

<h2 style="margin-left: -100px; margin-top: 20px; color: white;"><strong>Event Details</strong></h2>
<p style="margin-left: -100px; color: white;">
  <%= @event.description %>
</p>

</p>
      <div>
      <br>
      <a href="<%= new_event_booking_path(@event) %>">
      <button type="button" class="btn btn-primary rounded-circle" style="padding: 10px 20px; background-color: #C069EC; color: white; border: 2px solid white;">Book Now</button>
    </a>
  </div>
  </div>

    <div class="right-pane">
    <div class="info">
      <span > <i class="fa-solid fa-location-dot"></i> <%= @event.location %></span>
    </div>
      <div class="date">
      <span > <i class="fa-solid fa-calendar-days"></i> <%= @event.start_date.strftime("%d/%m/%y - %T") %></span>
    </div>
    <div class="map">
      <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
        <% end %>
      <% end %>
<div
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-marker-value="<%= @marker.to_json %>"
  style="width: 400px; height: 200px; border-radius: 20px; overflow: hidden; margin-top: 20px;"
></div>


    </div>

    </div>
  </div>
