</div>
  <div class="split-container">
    <div class="left-pane justify-content-center">
      <div class="name">
        <h1><%= @event.name %></h1>
      </div>
      <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill %>
        <% end %>
        <% end %>
        <p>
      <h2><strong>About this event</strong></h2>
        <p>
          <%= @event.description %>
        </p>
      <div>
      <br>
      <button type="button" class="btn btn-primary" style="margin-right: 30px; margin-left: 20px; padding: 10px 10px;">Sales end 19th Aug 2023</button>
      <a href="<%= new_event_booking_path(@event) %>">
      <button type="button" class="btn btn-primary" style="margin-right: 30px; padding: 10px 10px;">Checkout for £ <%= @event.price %></button>
    </a>
  </div>
  </div>

    <div class="right-pane">
    <div class="info">
      <span > <i class="fa-solid fa-location-dot"></i> <%= @event.location %></span>
    </div>
      <div class="date">
      <span > <i class="fa-solid fa-calendar-days"></i> <%= @event.start_date.strftime("%d/%m/%y - %T") %></span>
    </div>
    <div class="map">
      <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% end %>
      <div class="container mb-4">
  <div class="row justify-content-center">
          <div data-controller="map"
               id="map"
               data-map-markers-value="<%= @markers.to_json %>"
               data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
               style="width: 800px; height: 200px; border-radius: 20px; overflow: hidden; margin-top: 20px;">
          </div>
        </div>
</div>

    </div>

    <button type="button" class="btn btn-primary" style="margin-right: 30px; padding: 10px 10px;">Chat Group</button>

    </div>
  </div>
