<div class="container">
  <div class="split-container">
    <div class="column">

      <div class="left-pane">
        <h1><%= @event.name %></h1>

        <div class="event-image-info">
          <div class="event-image">
              <% if @event.photos.attached? %>
              <% @event.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 400, width: 600, crop: :fill %>
              <% end %>
            <% end %>
          </div>

          <div class="info">
            <div class="location">
              <span> <i class="fa-solid fa-location-dot"></i> <%= @event.location %></span>
            </div>
            <div class="date">
              <span > <i class="fa-solid fa-calendar-days"></i> <%= @event.start_date.strftime("%d/%m/%y - %T") %></span>
            </div>
          </div>
        </div>

        <div class="event-details">
          <h2>Event Details</h2>
          <p> <%= @event.description %></p>
        </div>

        <a style="padding: 3px;"> <%= link_to 'Back', events_path %></a>


      </div>

      <div class="right-pane">
        <div class="right-pane-align">

        <%= render "bookings/modal", event: @event, booking: @booking %>
              <div class="map">
                <% if @event.photos.attached? %>
                  <% @event.photos.each do |photo| %>
                  <% end %>
                <% end %>

                  <div
                    data-controller="map"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                    data-map-marker-value="<%= @marker.to_json %>"
                    style="width: 400px; height: 200px; border-radius: 20px; overflow: hidden; margin-top: 20px;"
                    ></div>
              </div>

        </div>
      <div>
    </div>
  </div>
</div>
